<div class="footer">
    <div class="body">
        <div class="1">
            <div class="logo-1">
                <div class="footertitle">EFT_Market</div>
            </div>
            <div class="about">
                <div class="place manrope-normal-alto-14px">Contact</div>
            </div>
            <img class="social-links" src="{% static '/images/instagram.png' %}" alt="Social Links" />
            <img class="social-links" src="{% static '/images/twitter.png' %}" alt="Social Links" />
            <div class="copyright manrope-normal-alto-14px">©EFT_Market 2022</div>
        </div>
        <div class="footer-info">
            <div class="col-1">
                <div class="info manrope-medium-white-20px">Info</div>
                <div class="list-items">
                    <div class="privacy-policy manrope-normal-alto-16px">Privacy Policy</div>
                    <div class="terms-conditions manrope-normal-alto-16px">Terms &amp; Conditions</div>
                </div>
            </div>
            <div class="col-3">
                <div class="help manrope-medium-white-20px">Help</div>
                <div class="list-items-1">
                    <div class="client-support-csti manrope-normal-alto-16px">
                        Client Support: <br/>
                        csticket@eftmarket.com<br/>
                        02-123-1234
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>