@import 
url("https://fonts.googleapis.com/css?family=Manrope:400,700,500,600,800|Montserrat:400");

/* Variables */
:root{
    --black: rgba(0,0,0,1);
    --primary: rgba(2, 81, 98,1);
    --eerie-black: rgba(30,30,30,1);
    --secondary-3: rgba(64,64,64,1);
    --alto: rgba(217,219,225,1);
    --trinidad: rgba(230, 82,19,1);
    --tertiary: rgba(231,83,19,1);
    --secondary: rgba(234, 223, 216, 1);
    --white: rgba(255,255,255,1);

    --font-size-xxxs: 14px;
    --font-size-xxs: 16px;
    --font-size-xs: 16.7px;
    --font-size-xxl: 32.5px;
    --font-size-s2: 18px;
    --font-size-m2: 20px;
    --font-size-l2: 25.1px;
    --font-size-xl2: 70px;

    --font-family-manrope: "Manrope";
    --font-family-montserrat: "Montserrat";
}

/* Classes */
.montserrat-normal-cape-code-18px{
    color: var(--secondary-3);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s2);
    font-weight: 400;
    font-style: normal;
}

.manrope-extra-bold-blue-stone-70px{
    color: var(--primary);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-xl2);
    font-weight: 800;
    font-style: normal;
}

.manrope-medium-white-20px{
    color: var(--white);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-m2);
    font-weight: 500;
    font-style: normal;
}

.montserrat-normal-black-18px{
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s2);
    font-weight: 400;
    font-style: normal;
}
.capetrinidad-20px-2{
    color: var(--trinidad);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-m2);
    font-weight: 700;
    font-style: normal;
}
.manrope-extra-bold-black-32-5px{
    color: var(--black);
    font-family: var(--font-family-manrope);
    font-size: 32.5px;
    font-weight: 800;
    font-style: normal;
}
.manrope-bold-eerie-black-20px{
    color: var(--eerie-black);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-m2);
    font-weight: 700;
    font-style: normal;
}
.manrope-extra-bold-cape-cod-40px{
    color: var(--secondary-3);
    font-family: var(--font-family-manrope);
    font-size: 40px;
    font-weight: 800;
    font-style: normal;
}
.manrope-normal-cape-code-16-7px{
    color: var(--secondary-3);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-xs);
    font-weight: 400;
    font-style: normal;
}
.manrope-extra-bold-black-40px{
    color: var(--black);
    font-family: var(--font-family-manrope);
    font-size: 40px;
    font-weight: 800;
    font-style: normal;
}
.manrope-extra-bold-pearl-bush-32-5px{
    color: var(--secondary);
    font-family: var(--font-family-manrope);
    font-size: 32.5px;
    font-weight: 800;
    font-style: normal;
}
.manrope-extra-bold-white-48px{
    color: var(--white);
    font-family: var(--font-family-manrope);
    font-size: 48px;
    font-weight: 800;
    font-style: normal;
}
.manrope-normal-alto-14px{
    color: var(--alto);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-xxxs);
    font-weight: 400;
    font-style: normal;
}
.manrope-bold-trinidad-20px{
    color: var(--tertiary);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-m2);
    font-weight: 700;
    font-style: normal;
}
.manrope-bold-white-20px{
    color: var(--white);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-m2);
    font-weight: 700;
    font-style: normal;
}
.manrope-bold-blue-stone-20px{
    color: var(--primary);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-m2);
    font-weight: 700;
    font-style: normal;
}
.manrope-extra-bold-cape-cod-70px{
    color: var(--secondary-3);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-xl2);
    font-weight: 800;
    font-style: normal;
}

.manrope-medium-cape-cod-15px{
    color: var(--secondary-3);
    font-family: var(--font-family-manrope);
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
}
.manrope-semi-bold-cape-cod-25-1px{
    color: var(--secondary-3);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-l2);
    font-weight: 600;
    font-style: normal;
}
.manrope-bold-cape-cod-20px{
    color: var(--secondary-3);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-m2);
    font-weight: 700;
    font-style: normal;
}
.manrope-normal-alto-16px{
    color: var(--alto);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-xxs);
    font-weight: 400;
    font-style: normal;
}
.manrope-bold-black-32-5px{
    color: var(--black);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-xxl);
    font-weight: 700;
    font-style: normal;
}

/* end variables */
.homepage{
    align-items: center;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    flex-direction: column;
    min-width: 1440px;
    width: 100%;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.photo-text-section{
    align-items: center;
    border: 1px none;
    display: flex;
    height: 664px;
    width: 1440px;
}

.text-1{
    align-items: flex-start;
    align-self: stretch;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    padding: 160px 112px;
}
.title-and-text{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: fit-content;
}
.headline-1{
    letter-spacing: 0;
    line-height: 54px;
    margin-top: -1px;
    white-space: nowrap;
    width: 444px;
}
.description{
    letter-spacing: -0.27px;
    line-height: 30px;
    width: 444px;
}
.button-1{
    align-items: center;
    border: 1px none;
    display: flex;
    gap: 8px;
    width: fit-content;
}
.label-1{
    letter-spacing: 0;
    line-height: 30px;
    margin-top: -1px;
    white-space: nowrap;
    width: fit-content;
}
.essential-icons-right-arrow{
    height: 24px;
    min-width: 24px;
}
.img-1{
    align-self: stretch;
    flex: 1;
    height: 664px;
    min-width: 720px;
}
.menu-bar{
    align-items: center;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    justify-content: space-between;
    padding: 26px 112px;
    width: 1440px;
}
.left-column-1{
    align-items: center;
    border: 1px none;
    display: flex;
    gap: 32px;
    height: 40px;
    width: fit-content;
}
.item{
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
    width: fit-content;
}
.right-column-1{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    gap: 32px;
    justify-content: flex-end;
    width: fit-content;
}
.frame-19{
    align-items:flex-start;
    border: 1px none;
    display: flex;
    gap: 6px;
    width: fit-content;
}
.label-2{
    color: var(--secondary-3);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-xxxs);
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1px;
    white-space: nowrap;
    width: fit-content;
}
.group{
    height: 16.65px;
    min-width: 16.65px;
}
.group-20{
    height: 16.17px;
    margin-right: -2px;
    min-width: 19px;
}
.overlap-group{
    height: 17px;
    position: relative;
    width: 17px;
}
.group-1{
    height: 17px;
    left: 0;
    position: absolute;
    top: 0;
    width: 12px;
}
.number{
    color: var(--white);
    font-family: var(--font-family-manrope);
    font-size: 5.6px;
    font-weight: 700px;
    left: 10px;
    letter-spacing: 0;
    line-height: 8px;
    position: absolute;
    top: 8px;
    white-space: nowrap;
    width: 4px;
}
.rectangle-14{
    background-color: var(--secondary-3);
    border:1px none;
    height: 8px;
    left: 6px;
    position: absolute;
    top: 8px;
    width:11px;
}
.vector{
    height: 16.77px;
    min-width: 18.69px;
}
.headline-section{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 8px 8px 80px;
    width: fit-content;
}
.our-pledge{
    letter-spacing: 0;
    line-height: 98px;
    margin-top: -1px;
    text-align:center;
    white-space: nowrap;
    width:fit-content;
}



.nav-bars{
    align-items: center;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    padding: 32px 112px;
    width: 1440px;
}

.content{
    align-items: center;
    border: 1px none;
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.left-column{
    height: 47px;
    min-width: 205px;
    position: relative;
}
.logo{
    left: 0;
    letter-spacing: 0;
    line-height: 46.4px;
    position: absolute;
    top: 0;
    white-space: nowrap;
}
.span1{
    color: var(--black);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-xxl);
    font-weight: 400;
}

.right-column{
    align-items: flex-start;
    border: 1px none; 
    display: flex;
    gap: 20px;
    width: fit-content;
}
.item-2{
    color: var(--secondary-3);
    font-family: var(--font-family-manrope);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1px;
    white-space: nowrap;
    width: fit-content;
}
.new-products{
    align-items: cetner;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 112px 0px;
}
.button{
    align-items: flex-start;
    display: flex;
    background-color:var(--secondary);
    border: 1px none;
    border-radius: 4px;
    gap: 8px;
    padding: 16px 40px;
    width: fit-content;
}
.button:hover{
    color: var(--white);
    background-color:var(--tertiary);
    cursor: pointer;
}
.label{
    letter-spacing: 0;
    line-height: 30px;
    margin-top: -1px;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}
.recommended-1{
    align-items: flex-start;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 96px;
    padding: 0px 23px 0px 24px;
    width: 1439px;
}

.products-1{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    gap: 24px;
    height: 480px;
    margin-right: -23px;
    padding: 0px 24px 0px 0px;
    width: 1415px;
}
.product-card{
    align-items: flex-start;
    border: 1.05px none;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 5px;
    width: 25%;
}
.icon-details{
    align-items:center;
    align-self: stretch;
    border: 1.05px none;
    display: flex;
    flex-direction: column;
    gap: 58.55px;
}
.details{
    align-items: center;
    align-self: stretch;
    border: 1.05px none;
    display: flex;
    flex-direction: column;
    gap: 12.55px;

}
.headline{
    align-self: stretch;
    letter-spacing: 0;
    line-height: 32.5px;
    margin-top: -1.05px;
}
.mask-group-1{
    align-self: stretch;
    height: 256px;
    min-width: 329.75px;
}
.headline-2{
    align-self: stretch;
    letter-spacing: 0;
    line-height: 33.5px;
    margin-top: -1.05px;
    white-space: nowrap;
}
.new{
    height: 84px;
    letter-spacing: 0;
    line-height: 98px;
    margin-top: -1px;
    text-align: center;
    white-space: nowrap;
    width:310px;
}
.valign-text-middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.characteristics{
    align-items: center;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 40px 0px;
    width: 1440px;
}
.item-1{
    align-items: center;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 24px;
    width: fit-content;
}
.text{
    letter-spacing: 0;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    width: 302px;
}
.icon{
    height: 80px;
    min-width: 80px;
}
.footer{
    align-items: flex-start;
    background-color: var(--secondary-3);
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 96px 112px;
    width: 1216px;
}
.body{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    gap: 138px;
    width: fit-content;
}
.l{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 489px;
}
.social-links{
    align-items: flex-start;
    height: 24px;
    width: 24px;
}
.copyright{
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
    width: 350px;
}
.logo-1{
    height: 47px;
    min-width: 192px;
    position: relative;
}
.footertitle{
    color: var(--secondary);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-xxl);
    font-weight: 800;
    left: 0;
    letter-spacing: 0;
    line-height: 46.4px;
    position: absolute;
    top: 0;
    white-space: nowrap;
}
.about{
    align-items: center;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: fit-content;
}
.place{
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    white-space: nowrap;
    width: 350px;
}
.footer-info{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    gap: 32px;
    width: fit-content;
}
.col-3{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
    width: 211px;
}
.list-items-1{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-right: -83px;
    width: fit-content;
}
.client-support-csti{
    letter-spacing: 0;
    line-height: 26px;
    margin-top: -1px; 
    width: 294px;
}
.help{
    letter-spacing: 0;
    line-height: 30px;
    margin-top: -1px;
    white-space: nowrap;
    width: 160px;
}
.col-1{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 176px;
}
.list-items{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
}
.privacy-policy{
    letter-spacing: 0;
    line-height: 26px;
    margin-top: -1px;
    white-space: nowrap;
    width: 160px;
}
.terms-conditions{
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
    width: 160px;
}
.info {
    letter-spacing: 0;
    line-height: 30px;
    margin-top: -1px;
    white-space: nowrap;
    width: 160px;
}
.img{
    align-self: stretch;
    flex: 1;
    height: 664px;
    min-width: 720px;
}
.categories{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    gap: 15px;
    width: 1440px;
}

.category-2{
    /* gpu pic */
    background-image: url("../static/images/Graphics_Card.png");
    background-size: 100% 100%;
    height: 596px;
    min-width: 713px;
}
.content-2{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    left: 49px;
    overflow: hidden;
    position: relative;
    top: 372px;
    width: 609px;
}
.header-copy{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: -44px;
    width: 653px;
}
.barter-items{
    letter-spacing: 0;
    line-height: 98px;
    margin-top: -1px;
    white-space: nowrap;
    width: 653px;
}
.category-1{
    /* hexgrid image */
    background-image: url("../static/images/HexPlateCarrier_View.png");
    background-size: 100% 100%;
    height: 596px;
    min-width: 712px;
}
.content-1{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    left: 56px;
    overflow: hidden;
    position: relative;
    top: 372px;
    width: 609px;
}
.plate-carriers{
    letter-spacing: 0;
    line-height: 98px;
    margin-top: -1px;
    white-space: nowrap;
    width: 653px;
}
.hero{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    height: 700px;
    width: 1440px;
}
.text-2{
    align-items: flex-start;
    align-self: stretch;
    background-color: var(--black);
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    padding: 160px 80px 160px 112px;
    width: 840px;
}
.title{
    color: var(--secondary);
    font-family: var(--font-family-manrope);
    font-size: 70px;
    font-weight: 500;
    height: 65px;
    letter-spacing: 0;
    line-height: normal;
    width: 648px;
}
.title-text{
    align-items: flex-start;
    align-self: stretch;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.most-liked-items{
    color: var(--secondary);
    font-family: var(--font-family-manrope);
    font-size: 50px;
    font-weight: 500;
    height: 75px;
    letter-spacing: 0;
    line-height: normal;
    width: 648px;
}
.button-2{
    background-color: var(--secondary);
    border: 1px none;
    border-radius: 8px;
    height: 62px;   
    min-width: 196px;
    position: relative;
}
.label-3{
    left: 49px;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 15px;
    white-space: nowrap;
}
.photo{
    align-items: center;
    align-self: stretch;
    border: 1px none;
    display: flex;
    width: 600px;
}
.mask-group-2{
    align-self: stretch;
    height: 700px;
    min-width: 600px;
}
.recomanded{
    align-items: center;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 82px;
    padding: 112px 0px;
    width: 1440px;
}
.recommended{
    align-items: flex-start;
    background-color: var(--white);
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 96px;
    padding: 0px 65px 0px 24px;
    width: 1440px;
    min-width: 0;
}
.products{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    gap: 14px;
    height: 410px;
    margin-right: -48px;
    margin-left: 40px;
    overflow: hidden;
    width: 1440px;
}
.mask-group-4{
    align-self: stretch;
    height: 256px;
    min-width: 339.33px;
}
.product-card-3{
    align-items: flex-start;
    border: 1.05px none;
    display: flex;
    flex-direction: column;
    gap: 16.2px;
    height: 419px;
    margin-bottom: -21px;
    width: 308px;
}
.mask-group-3{
    height: 258px;
    margin-right: -0.1px;
    min-width: 308.1px;
}
.icon-details-1{
    align-items: center;
    border: 1.05px none;
    display: flex;
    flex-direction: column;
    gap: 58.55px;
    width: fit-content;
}
.details-1{
    align-items: center;
    border: 1.05px none;
    display: flex;
    flex-direction: column;
    gap: 12.55px;

}
.mask-group{
    align-self: stretch;
    height: 256px;
    min-width: 139.33px;
}
.essential-icons-right-arrow-1{
    height: 24px;
    min-width: 24px;
}
.popular{
    height: 84px;
    letter-spacing: 0;
    line-height: 98px;
    margin-top: -1px;
    text-align: center;
    white-space: nowrap;
    width: 310px;
}

/* Dropdown Button */
.dropbtn {
    padding: 0;
    font-size: 16px;
    border: none;
    color: var(--secondary-3);
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-m2);
    font-weight: 700;
    font-style: normal;
    background: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

a {
    text-decoration: none;
}
.box-article{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:1440px;
}
.item-info{
    align-items: flex-start;
    display: block;
    flex: 1;
    gap: 10px;
    
}
.hr-1{
    border-top: 1px gray; 
    background-color: gray; 
    height: 10px; 
    width: 600px;
    align-self: stretch
}

.container{
    display:grid;
    gap: 50px 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: dense; /* this will make the elements to flow around*/
}
.a {
    min-height: 100px;
}
.searchBtn{
    background-color:var(--secondary);
    border: 1px none;
    border-radius: 4px;
    gap: 8px;
    padding: 16px 40px;
}